<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GiftOfTheGivers-Helpers" value="https://pkgs.dev.azure.com/GiftGiversFoundationProject/0447f12d-51d6-4dba-b76e-5360b6fddee1/_packaging/GiftOfTheGivers-Helpers/nuget/v3/index.json" />
  </packageSources>
</configuration>